HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Arquivos de ambiente e segredos
.env

# Diretórios de build
/target/

# Arquivos de IDE
/.idea/
*.iml

# Arquivos do Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Volumes do Docker
mysql_data/

# Outros arquivos temporários
*.log
.DS_Store
uploads/

.cursor/*